<footer [ngClass]="{'footer': expandButton,'min-footer':!expandButton}">
    <p _ngcontent-c6="" class="copy_right"> © 2001-2019 Accenture. All rights reserved. Accenture Highly Confidential. For internal use only. 
        <a _ngcontent-c6="" routerlink="/main/term" target="_blank" href="#/main/term">
            Terms of Use
        </a>| 
         <a _ngcontent-c6="" routerlink="/main/privacy" target="_blank" href="#/main/privacy">
            Privacy Statement
        </a>
    </p>
</footer>
