@mixin common {
    border-top: 1px solid #eee;
    color: #666666;
    line-height: 3.125rem;
    overflow: hidden;
    height:3.125rem ;
    p{
        text-align: center;
        line-height: 3.125rem;
        font-size: 0.8125rem;
        color: #65758b;
        margin: 0;
        a{
            color: #4a8bcd;
        }
    }
}

.footer{
    @include common()
}

.min-footer{
    @include common();
}